[DEFAULT]
state_path = /var/lib/cinder
volumes_dir = /etc/cinder/volumes
rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
verbose = True
use_stderr = True
auth_strategy = keystone
enabled_backends = ceph
transport_url = rabbit://guest:guest@localhost
enable_v2_api=true
enable_v3_api=true

[database]
connection = mysql+pymysql://cinder:CINDER_DBPASS@localhost/cinder?charset=utf8

[ceph]
rbd_user = {{ RBD_USER }}
rbd_pool = {{ RBD_POOL }}
volume_driver = cinder.volume.drivers.rbd.RBDDriver
volume_backend_name = ceph
rbd_ceph_conf = /etc/ceph/{{ CEPH_CLUSTER }}.conf
rbd_flatten_volume_from_snapshot = false
rbd_max_clone_depth = 5
rbd_store_chunk_size = 4
rados_connect_timeout = -1
rbd_secret_uuid = {{ RBD_SECRET_UUID }}

[keystone_authtoken]
auth_uri = http://{{ HOSTNAME }}:5000
auth_url = http://{{ HOSTNAME }}:35357
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = cinder
password = {{ CINDER_PASS }}
